@model IEnumerable<APIOracle.WebApplication.Models.Libro.LibroEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create nuevo registro", "Create")
</p>
<div class="form-group">
    <input type="text" class="form-control pull-right" style="width:20%" id="search" placeholder="Type to search table...">
</div>

@if (Model != null)
{
    <table class="table" id="mytable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idlibro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nopaginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idautor)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Idlibro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nopaginas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idautor)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Idlibro }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Idlibro }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Idlibro })
                </td>
            </tr>
        }

    </table>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    // Write on keyup event of keyword input element
    $(document).ready(function () {
        $("#search").keyup(function () {
            _this = this;
            // Show only matching TR, hide rest of them
            $.each($("#mytable tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                    $(this).hide();
                else
                    $(this).show();
            });
        });
    });
</script>
